### Task 2.1 - Basic Scripting with Python
#### Author: Shounak Bhalerao

In [1]:
import pandas as pd
import numpy as np

# Answer 1 & 2 do not require Submission

In [2]:
# Step 2 Code
# url = 'https://archive.ics.uci.edu/ml/machine-learning-databases/iris/iris.data'
# iris = pd.read_csv(url)
# iris.head()

#### Step #3: Write code to create 5 column heads. Next write a code to display or show the headers.

In [3]:
url = 'https://archive.ics.uci.edu/ml/machine-learning-databases/iris/iris.data'
iris = pd.read_csv(url, names=['sepal_length','sepal_width','petal_length','petal_width','class'])
iris.head()

   sepal_length  sepal_width  petal_length  petal_width        class
0           5.1          3.5           1.4          0.2  Iris-setosa
1           4.9          3.0           1.4          0.2  Iris-setosa
2           4.7          3.2           1.3          0.2  Iris-setosa
3           4.6          3.1           1.5          0.2  Iris-setosa
4           5.0          3.6           1.4          0.2  Iris-setosa

#### Step #4: Write a code to check if there are any missing values in the dataframe

In [4]:
iris.isnull().sum()

sepal_length    0
sepal_width     0
petal_length    0
petal_width     0
class           0
dtype: int64

Step 5: Write a code to set the values of the rows 10 to 29 of the column 'petal_length' to NaN

In [9]:
# iris[10:30]['petal_length'] = 'NaN' <- This will not work :)
iris.loc[10:29,'petal_length'] = np.nan
iris.head(31)

    sepal_length  sepal_width  petal_length  petal_width        class
0            5.1          3.5           1.4          0.2  Iris-setosa
1            4.9          3.0           1.4          0.2  Iris-setosa
2            4.7          3.2           1.3          0.2  Iris-setosa
3            4.6          3.1           1.5          0.2  Iris-setosa
4            5.0          3.6           1.4          0.2  Iris-setosa
5            5.4          3.9           1.7          0.4  Iris-setosa
6            4.6          3.4           1.4          0.3  Iris-setosa
7            5.0          3.4           1.5          0.2  Iris-setosa
8            4.4          2.9           1.4          0.2  Iris-setosa
9            4.9          3.1           1.5          0.1  Iris-setosa
10           5.4          3.7           NaN          0.2  Iris-setosa
11           4.8          3.4           NaN          0.2  Iris-setosa
12           4.8          3.0           NaN          0.1  Iris-setosa
13           4.3          3.0           NaN          0.1  Iris-setosa
14           5.8          4.0           NaN          0.2  Iris-setosa
15           5.7          4.4           NaN          0.4  Iris-setosa
16           5.4          3.9           NaN          0.4  Iris-setosa
17           5.1          3.5           NaN          0.3  Iris-setosa
18           5.7          3.8           NaN          0.3  Iris-setosa
19           5.1          3.8           NaN          0.3  Iris-setosa
20           5.4          3.4           NaN          0.2  Iris-setosa
21           5.1          3.7           NaN          0.4  Iris-setosa
22           4.6          3.6           NaN          0.2  Iris-setosa
23           5.1          3.3           NaN          0.5  Iris-setosa
24           4.8          3.4           NaN          0.2  Iris-setosa
25           5.0          3.0           NaN          0.2  Iris-setosa
26           5.0          3.4           NaN          0.4  Iris-setosa
27           5.2          3.5           NaN          0.2  Iris-setosa
28           5.2          3.4           NaN          0.2  Iris-setosa
29           4.7          3.2           NaN          0.2  Iris-setosa
30           4.8          3.1           1.6          0.2  Iris-setosa

Step 6. Now again, check if there is any missing values (NaN) in the dataframe? Count, how many missing values.

In [6]:
iris.isnull().sum()

sepal_length     0
sepal_width      0
petal_length    20
petal_width      0
class            0
dtype: int64

Step 7. Substitute the NaN values to 10.0

This can be done with iris.loc(10:29,'petal_length') = 10.0 but the problem with this is that it will not remove all the NAN items. hence lets do it using methods which will fix the WHOLE Dataset

In [10]:
iris['petal_length'].fillna(10.0, inplace=True)
iris.head(30)

    sepal_length  sepal_width  petal_length  petal_width        class
0            5.1          3.5           1.4          0.2  Iris-setosa
1            4.9          3.0           1.4          0.2  Iris-setosa
2            4.7          3.2           1.3          0.2  Iris-setosa
3            4.6          3.1           1.5          0.2  Iris-setosa
4            5.0          3.6           1.4          0.2  Iris-setosa
5            5.4          3.9           1.7          0.4  Iris-setosa
6            4.6          3.4           1.4          0.3  Iris-setosa
7            5.0          3.4           1.5          0.2  Iris-setosa
8            4.4          2.9           1.4          0.2  Iris-setosa
9            4.9          3.1           1.5          0.1  Iris-setosa
10           5.4          3.7          10.0          0.2  Iris-setosa
11           4.8          3.4          10.0          0.2  Iris-setosa
12           4.8          3.0          10.0          0.1  Iris-setosa
13           4.3          3.0          10.0          0.1  Iris-setosa
14           5.8          4.0          10.0          0.2  Iris-setosa
15           5.7          4.4          10.0          0.4  Iris-setosa
16           5.4          3.9          10.0          0.4  Iris-setosa
17           5.1          3.5          10.0          0.3  Iris-setosa
18           5.7          3.8          10.0          0.3  Iris-setosa
19           5.1          3.8          10.0          0.3  Iris-setosa
20           5.4          3.4          10.0          0.2  Iris-setosa
21           5.1          3.7          10.0          0.4  Iris-setosa
22           4.6          3.6          10.0          0.2  Iris-setosa
23           5.1          3.3          10.0          0.5  Iris-setosa
24           4.8          3.4          10.0          0.2  Iris-setosa
25           5.0          3.0          10.0          0.2  Iris-setosa
26           5.0          3.4          10.0          0.4  Iris-setosa
27           5.2          3.5          10.0          0.2  Iris-setosa
28           5.2          3.4          10.0          0.2  Iris-setosa
29           4.7          3.2          10.0          0.2  Iris-setosa